.blue-text {
    font-size: 50px;
    margin-left: 600px;
    margin-top: 200px;
    color: #0000FF;
  }
  
  .red-text {
    font-size: 50px;
    margin-left: 600px;
    margin-top: 200px;
    color: #FF0000;
  }
